* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.inputt {
  width: 90% !important;
}
.fas {
  color: #3b86e9 !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100%;
  /* height: 97vh; */
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  height: 97vh;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #3b86e9;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  /* color: #38d39f; */
  color: #5298ee;
}
.input-div .focus h5 {
  top: -5px;
  font-size: 15px;
  color: #7e7e7e;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  font-size: 1.2rem;
  border: none;
  color: #555;
  font-family: "poppins", sans-serif;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.width-input {
  /* border: 2px solid black !important; */
  width: 90% !important;
}
.icon11 {
  margin-left: 18em;
  margin-top: 0.7em;
}
.password-toggle i {
  color: #999;
  font-size: 16px;
}

.password-toggle:hover i {
  color: #666;
}

.input-div.pass {
  margin-bottom: 4px;
}

.input-div.verify {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #3b86e9;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #3b86e9, #5496e7, #5298ee);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

.eye {
  color: rgb(185, 184, 184) !important;
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Hide sidebar on mobile */
  }

  .content-body {
    margin-left: 0; /* Remove margin to use full width */
    padding: 10px; /* Adjust padding for mobile */
  }
}

/*  */
/*
  Media Query for iPad Pro (and similar large tablets)
  This covers both landscape (min-width: 1024px) and portrait (max-width: 1024px with min-width: 768px for most tablets)
*/

/* For large tablets like iPad Pro (landscape) and smaller laptops */
@media (min-width: 1024px) and (max-width: 1366px) {
  .login-content {
    /*
        To move the form upwards, you can use:
        1. margin-top: A negative value will pull it up.
        2. transform: translateY(): More precise for visual adjustments, can be combined with other transforms.
        3. Adjusting align-items or justify-content of its flex/grid parent: If its parent is a flex/grid container.
      */
  }

  /* You might also need to adjust the illustration if it now looks too low */
  .img {
    /* Example: move image slightly upwards too if needed */
    margin-top: -300px;
  }
}

/* For iPad Pro (portrait) and smaller tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .login-content {
    position: absolute;
    top: 50%;
    left: 50%; /* ✅ Center horizontally */
    transform: translate(-50%, -50%); /* ✅ Perfect centering */
    margin-top: 0;
    justify-content: center;
  }
}

.custom-container {
  /* margin-left: 180px; */
}

@media (max-width: 768px) {
  .custom-container {
    margin-left: 0 !important;
  }
}
/* Hide the browser native password toggle icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

/* For Chrome (WebKit-based) */
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-search-decoration,
input[type="password"]::-webkit-search-cancel-button,
input[type="password"]::-webkit-search-results-button,
input[type="password"]::-webkit-search-results-decoration {
  display: none !important;
}

/* Firefox */
input[type="password"] {
  -moz-appearance: textfield;
}

.new-custom{
  display: flex;
  justify-content: center;
}

.div h5 {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 16px;
  color: #9ca3af; 
  pointer-events: none;
  transition: all 0.2s ease;
}

.div h5.floating {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #3b86e9;
  background: white;
  padding: 0 5px;
  z-index: 10;
}
.icon11 {
  z-index: 10;
  position: relative;
  pointer-events: auto;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
