<div class=" custom-container">
  <div *ngIf="isLoading" class="loader-overlay">
    <div class="spinner"></div>
  </div>
  <div class="login-content">
    <!-- Login Form HTML -->
    <form *ngIf="currentStep === 'login'" #loginForm="ngForm" class="login-container">
      <!-- Logo -->
      <img class="logo" src="../../../assets/admin-img/jlr logo.svg" alt="JLR Logo" />

      <!-- Title -->
      <h2 class="login-title">Login to Smart Assist</h2>

      <!-- Email Input -->
      <div class="form-group">
        <label class="input-label">Email</label>
        <input [(ngModel)]="loginObj.email" type="email" name="username" required placeholder="Enter Email ID"
          class="form-input" />
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label class="input-label">Password</label>
        <div class="password-wrapper">
          <input id="passwordInput" [(ngModel)]="loginObj.password" [type]="showPassword ? 'text' : 'password'"
            name="password" required placeholder="Enter Password" autocomplete="off" autocorrect="off"
            spellcheck="false" class="form-input password-input" />
          <i [class]="showPassword ? 'fas fa-eye eye-icon' : 'fas fa-eye-slash eye-icon'"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <!-- Login Button -->
      <button type="submit" class="login-btn" (click)="onLogin()">Login</button>

      <!-- Links -->
      <div class="text-center mt-2">
        <a href="javascript:void(0)" class="forgot-password text-sm" (click)="showVerifyEmail()"
          style="text-align: center;">
          Forgot Password ?
          <span class="text-blue-600 underline" style="text-decoration: underline;color:#222fb9">Reset Password</span>
        </a>
        <div class="text-center mt-2">
          <a href="javascript:void(0)" class="forgot-password text-sm" (click)="showVerifyEmail()"
            style="text-align: center;">
            First time logging in ?
            <span class="text-blue-600 underline" style="text-decoration: underline;color:#222fb9">Verify OTP</span>
          </a>

        </div>
      </div>
    </form>


    <form *ngIf="currentStep === 'verifyEmail'" #verifyForm="ngForm">
      <div class="flex justify-center">
        <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
          alt="Avatar Image" />
      </div>

      <h2 class="title" style="color:#222fb9;font-size:20px;text-transform: capitalize;margin-top:15px;">
        Verify Email
      </h2>

      <div class="form-group">
        <label class="input-label">Verify Email</label>
        <div class="password-wrapper"> <!-- wrapper div same as password input -->
          <input [(ngModel)]="verifyObj.email" name="dealer_email" type="email" required email placeholder="Enter Email"
            #dealerEmail="ngModel" class="form-input" />
        </div>
      </div>
      <a href="javascript:void(0)" class="back-to-login" (click)="backToLogin()">Back to Login</a>
      <input type="submit" class="btn" value="Send OTP" (click)="onVerifyEmail()" />
    </form>

    <form *ngIf="currentStep === 'verifyOtp'" #otpForm="ngForm">
      <div class="flex justify-center">
        <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
          alt="Avatar Image" />
      </div>

      <h2 class="title" style="color:#222fb9;font-size:20px;text-transform: capitalize;margin-top:15px;">
        Verify OTP
      </h2>

      <div *ngIf="countdown > 0" class="text-center mb-4">
        Time remaining: {{ countdown }}s
      </div>
      <!-- 
      <div class="input-div one">
        <div class="i mr-3">
          <i class="fas fa-key color"></i>
        </div>
        <div class="relative z-0 w-full mb-1 group flex flex-col">
          <input (input)="onOtpInput($event)" type="text" [(ngModel)]="loginObj.otp" name="otp" #otp="ngModel" required
            placeholder="OTP" class="" />
        </div>
      </div> -->
      <div class="form-group">
        <label class="input-label">OTP</label>
        <div class="password-wrapper"> <!-- wrapper same as password input -->
          <input (input)="onOtpInput($event)" type="text" [(ngModel)]="loginObj.otp" name="otp" #otp="ngModel" required
            placeholder="Enter OTP" class="form-input" />
        </div>
      </div>

      <div class="flex justify-end text-end w-full">
        <a style="cursor: pointer" class="back-to-login" (click)="backToLogin()">Back to Login</a>
        <a style="cursor: pointer" class="resend-otp" *ngIf="countdown === 0" (click)="onVerifyEmail()">Resend OTP</a>
      </div>

      <input type="submit" class="btn" value="Verify OTP" (click)="onVerifyOtp()" [disabled]="otpForm.invalid" />
    </form>

    <form *ngIf="currentStep === 'newPassword'">
      <div class="flex justify-center">
        <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
          alt="Avatar Image" />
      </div>

      <h2 class="title">Set New Password</h2>

      <!-- <div class="input-div pass">
        <div class="i mr-3">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <h5>New Password</h5>
          <input [(ngModel)]="loginObj.newPwd" #inputElement [type]="showPassword ? 'text' : 'password'"
            class="focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800"
            name="password" required />
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <h5>Confirm Password</h5>
          <input [(ngModel)]="loginObj.confirmPassword" #inputElement [type]="showConfirmPassword ? 'text' : 'password'"
            class="focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800"
            name="confirm-password" required />
          <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('confirmPassword')"></i>
        </div>
      </div> -->

      <div class="form-group">
        <label class="input-label">New Password</label>
        <div class="password-wrapper relative">
          <input [(ngModel)]="loginObj.newPwd" name="password" [type]="showPassword ? 'text' : 'password'" required
            placeholder="Enter New Password" class="form-input password-input" />
          <i [class]="showPassword ? 'fas fa-eye eye-icon' : 'fas fa-eye-slash eye-icon'"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <div class="form-group">
        <label class="input-label">Confirm Password</label>
        <div class="password-wrapper relative">
          <input [(ngModel)]="loginObj.confirmPassword" name="confirm-password"
            [type]="showConfirmPassword ? 'text' : 'password'" required placeholder="Enter Confirm Password"
            class="form-input password-input" />
          <i [class]="showConfirmPassword ? 'fas fa-eye eye-icon' : 'fas fa-eye-slash eye-icon'"
            (click)="togglePassword('confirmPassword')"></i>
        </div>
      </div>
      <div class="flex justify-between w-full">
        <a style="cursor: pointer" class="back-to-login" (click)="backToLogin()">Back to Login</a>
      </div>
      <input type="submit" class="btn" value="Reset Password" (click)="onSetNewPassword($event)" />
    </form>
  </div>
</div>