<div class=" custom-container">
  <div class="login-content">
    <form *ngIf="currentStep === 'login'" #loginForm="ngForm">
      <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
        alt="Avatar Image" />
      <h2 class="title" style="color:#222fb9;font-size:20px;text-transform: capitalize;margin-top:15px;">Login to Smart
        Assist</h2>
      <div class="input-div one">
        <div class="i mr-3">
          <i class="fas fa-user"></i>
        </div>

        <div class="div relative">
          <h5 class="absolute left-2 top-1 text-gray-500 text-sm">Email</h5>
          <input [(ngModel)]="loginObj.email" #inputElement type="text" name="username" required
            class="forms-control" />
        </div>
      </div>

      <div class="input-div pass">
        <div class="i mr-3">
          <i class="fas fa-lock"></i>
        </div>
        <!-- <div class="div relative">
          <h5>Password</h5>
          <input [(ngModel)]="loginObj.password" [type]="showPassword ? 'text' : 'password'" name="password" required
            autocomplete="new-password"
            class="inputt focus:outline-none focus:border-none border-transparent focus:ring-0 py-2 px-4 bg-transparent text-gray-800"
            #inputElement style="padding-left: 1px !important;" />
          <i [class]="'icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer ' + (showPassword ? 'fas fa-eye-slash eye' : 'fas fa-eye eye')"
            (click)="togglePassword('password')"></i>


        </div> -->
        <!-- THIS IS MY OLD CODE DID SAT BUT DIDNT WORKED ON TESTING -->
        <div class="div relative">
          <h5>Password</h5>
          <input id="passwordInput" [(ngModel)]="loginObj.password" [type]="showPassword ? 'text' : 'password'"
            name="password" required autocomplete="off" autocorrect="off" spellcheck="false"
            class="inputt focus:outline-none focus:border-none border-transparent focus:ring-0 py-2 px-4 bg-transparent text-gray-800"
            #inputElement style="padding-left: 1px !important;" />
          <i [class]="'icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer ' + (showPassword ? 'fas fa-eye-slash eye' : 'fas fa-eye eye')"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <a href="javascript:void(0)" class="forgot-password" (click)="showVerifyEmail()">Forgot Password?</a>
      <input type="submit" class="btn" value="Login" (click)="onLogin()" />

    </form>
    <form *ngIf="currentStep === 'verifyEmail'" #verifyForm="ngForm">
      <div class="flex justify-center">
        <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
          alt="Avatar Image" />
      </div>

      <h2 class="title" style="color:#222fb9;font-size:20px;text-transform: capitalize;margin-top:15px;">
        Verify Email
      </h2>

      <div class="input-div">
        <div class="i mr-3">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="div relative">
          <input [(ngModel)]="verifyObj.email" name="dealer_email" type="email" required email placeholder="E-mail"
            #dealerEmail="ngModel" />
        </div>
      </div>
      <a href="javascript:void(0)" class="back-to-login" (click)="backToLogin()">Back to Login</a>
      <input type="submit" class="btn" value="Send OTP" (click)="onVerifyEmail()" />
    </form>
    <form *ngIf="currentStep === 'verifyOtp'" #otpForm="ngForm">
      <div class="flex justify-center">
        <img class="mx-auto inline-flex items-center justify-center" src="../../../assets/admin-img/jlr logo.svg"
          alt="Avatar Image" />
      </div>

      <h2 class="title" style="color:#222fb9;font-size:20px;text-transform: capitalize;margin-top:15px;">
        Verify OTP
      </h2>

      <div *ngIf="countdown > 0" class="text-center mb-4">
        Time remaining: {{ countdown }}s
      </div>

      <div class="input-div one">
        <div class="i mr-3">
          <i class="fas fa-key color"></i>
        </div>
        <div class="relative z-0 w-full mb-1 group flex flex-col">
          <input (input)="onOtpInput($event)" type="text" [(ngModel)]="loginObj.otp" name="otp" #otp="ngModel" required
            placeholder="OTP" class="" />
        </div>
      </div>

      <div class="flex justify-end text-end w-full">
        <a style="cursor: pointer" class="back-to-login" (click)="backToLogin()">Back to Login</a>
        <a style="cursor: pointer" class="resend-otp" *ngIf="countdown === 0" (click)="onVerifyEmail()">Resend OTP</a>
      </div>

      <input type="submit" class="btn" value="Verify OTP" (click)="onVerifyOtp()" [disabled]="otpForm.invalid" />
    </form>

    <form *ngIf="currentStep === 'newPassword'">
      <h2 class="title">Set New Password</h2>

      <!-- <div class="input-div pass">
        <div class="i mr-3">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <h5>New Password</h5>
          <input [(ngModel)]="loginObj.newPwd" #inputElement [type]="showPassword ? 'text' : 'password'"
            class="focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800"
            name="password" required />
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <h5>Confirm Password</h5>
          <input [(ngModel)]="loginObj.confirmPassword" #inputElement [type]="showConfirmPassword ? 'text' : 'password'"
            class="focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800"
            name="confirm-password" required />
          <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('confirmPassword')"></i>
        </div>
      </div> -->

      <div class="input-div pass">
        <div class="i mr-3">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <!-- Floating label -->
          <h5 class="absolute left-4 top-2 text-gray-500 text-sm transition-all duration-200">
            New Password
          </h5>
          <input [(ngModel)]="loginObj.newPwd" #inputElement [type]="showPassword ? 'text' : 'password'"
            class="forms-control focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800 peer"
            name="password" required />
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('password')"></i>
        </div>
      </div>

      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div relative">
          <!-- Floating label -->
          <h5 class="absolute left-4 top-2 text-gray-500 text-sm transition-all duration-200">
            Confirm Password
          </h5>
          <input [(ngModel)]="loginObj.confirmPassword" #inputElement [type]="showConfirmPassword ? 'text' : 'password'"
            class="forms-control focus:outline-none focus:border-none border-transparent focus:ring-0 w-full py-2 px-4 bg-transparent text-gray-800 peer"
            name="confirm-password" required />
          <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="icon11 absolute right-8 top-1/2 transform -translate-y-1/2 cursor-pointer"
            (click)="togglePassword('confirmPassword')"></i>
        </div>
      </div>

      <div class="flex justify-between w-full">
        <a style="cursor: pointer" class="back-to-login" (click)="backToLogin()">Back to Login</a>
      </div>
      <input type="submit" class="btn" value="Reset Password" (click)="onSetNewPassword()" />
    </form>
  </div>
</div>