 
.main-content { 
    padding: 20px; 
    transition: margin-left 0.3s;
}
 
 
.info-cards-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; 
    margin-inline: 1em;
}

/* Estilos para cada card de información */
.info-card { 
    padding: 10px; 
    border-radius: 10px;
    width: 250px; 
    height: 150px;
    text-align: center; 
    box-shadow: 0 2px 10px rgba(190, 188, 188, 0.5);
}

 
 

/* Estilos para la Gráfica de Ventas del Ultimo Mes */
.canvas-1 {
    max-height: 420px;
    width: 100%; 
}


/* Estilos para los widgets inferiores de la página */
.widgets {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; 
}

/* Estilos para cada gráfico de los widgets inferiores */
.pie, .expenses, .user-experience, .income, .feedback, .sales1, .complaints, .sales-speculation, .growth, .sales2 {
    background-color: #1f1f1f; 
    padding: 10px; 
    border-radius: 10px; 
    width: 250px; 
    height: 320px; 
    text-align: center;  
}


/* Estilos para el pie de página */
 

/* Estilos para el fondo del pie de página con gradiente */
 

/* Estilos para las columnas en el pie de página */
.col {
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding: 1rem 1rem; 
    width: 20%; 
}

/* Estilos específicos para la segunda, tercera, y cuarta, columna en el pie de página */
.col2, .col3, .col4 {
    background-color: #000000; 
    border-radius: 2rem;
    text-align: left; 
}

/* Estilos para los íconos sociales en el pie de página */
.social {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.25rem; 
}

/* Estilos para los enlaces en el pie de página */
a {
    text-decoration: none;
    color: inherit;
}



/* Estilos para el pie de página en pantallas con un ancho máximo de 1000px */
@media screen and (max-width: 1000px) {
    .col {
        padding: 0.9rem 2.4rem;
    }
}

/* Estilos para el pie de página en pantallas con un ancho máximo de 700px */
@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
        padding: 5rem 20vw; 
    }

    .col {
        width: 100%; 
    }
}