/* MY STYLE */
.stat-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  min-height: 130px;
}

.stat-title {
  font-size: 0.85rem;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.stat-value {
  font-size: 1.8rem;
  font-weight: bold;
  color: #32325d;
}

.stat-change {
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.text-success {
  color: #2dce89 !important;
}

.text-danger {
  color: #f5365c !important;
}

.text-muted {
  color: #8898aa !important;
}
.small-font {
  font-size: 13px;
}
