.sidebar {
  width: 250px; /* Adjust based on sidebar width */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f8f9fa;
}

.content-body {
  padding: 20px;
  flex-grow: 1;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.custom-scroll-wrapper {
  overflow-x: auto;
  display: block;
  width: 100%;
}

.table-scroll-container {
  overflow-x: auto;
  width: 100%;
}

.table-wrapper {
  border: 1px solid #ccc; /* light gray */
  border-radius: 20px; /* optional: smooth corners */
  /* padding: 10px;              optional: spacing inside */
  background-color: #fff; /* optional: white background for clarity */
}
.bg-white {
  background-color: #fff !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.rounded {
  border-radius: 0.5rem;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.pagination .page-link:hover {
  color: white;
  background-color: #222fb9;
  border-color: #222fb9;
}

/* Active page */
.pagination .page-item.active .page-link {
  color: white;
  background-color: #222fb9;
  border-color: #222fb9;
}

/* Optional: remove default focus ring */
.pagination .page-link:focus {
  box-shadow: none;
}

.btn-outline-primary:hover {
  background-color: #222fb9;
  color: white;
}
.btn-outline-primary {
  border-color: #222fb9;
  color: #222fb9;
}
#closebtn {
  color: #ff2625;
}
