<div id="main-wrapper" [class.menu-toggle]="!isSidebarOpen">
  <div class="content-body">
    <div class="container-fluid">
      <header class="sticky top-0 z-20 bg-white/90 backdrop-blur border-b border-slate-200 super-header">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-1">
          <!-- 
          <div class="flex items-center justify-between gap-4 mb-2">
            <div>
              <nav class="flex space-x-4">
                <button class="px-3 py-1 rounded-t-lg font-medium"
                  [ngClass]="{'bg-blue-500 text-white': selectedTab === 'dashboard', 'bg-gray-100 text-gray-700': selectedTab !== 'dashboard'}"
                  (click)="selectTab('dashboard')">
                  Dashboard
                </button>
                <button class="px-3 py-1 rounded-t-lg font-medium"
                  [ngClass]="{'bg-blue-500 text-white': selectedTab === 'summary', 'bg-gray-100 text-gray-700': selectedTab !== 'summary'}"
                  (click)="selectTab('summary')">
                  Summary
                </button>
              </nav>
            </div>
          </div> -->

          <div class="flex items-center justify-between gap-4 mb-2">
            <div class="nav-button-sa">
              <div>
                <nav class="inline-flex bg-gray-100 p-1 rounded-full">
                  <a routerLink="/Admin/dashboard" routerLinkActive="active-tab"
                    [routerLinkActiveOptions]="{ exact: true }" class="tab-btn">
                    Dashboard
                  </a>

                  <a routerLink="/Admin/summary" routerLinkActive="active-tab"
                    [routerLinkActiveOptions]="{ exact: true }" class="tab-btn">
                    Summary
                  </a>
                  <a routerLink="/Admin/trend-chart" routerLinkActive="active-tab"
                    [routerLinkActiveOptions]="{ exact: true }" class="tab-btn">
                    Trend chart
                  </a>
                </nav>

              </div>
            </div>
          </div>

          <!-- Dynamic Header Based on Selected Tab -->
          <div [ngSwitch]="selectedTab">
            <div *ngSwitchCase="'dashboard'">
              <h1 class="text-2xl font-bold tracking-tight">Dealer Performance Dashboard</h1>
              <p class="text-slate-500 text-sm">Track users, leads, follow-ups, test drives & calls.</p>
            </div>
            <div *ngSwitchCase="'summary'">
              <h1 class="text-2xl font-bold tracking-tight">SA Summary Dashboard</h1>
              <!-- <p class="text-slate-500 text-sm">Track performance metrics and KPIs across all sales channels</p> -->
            </div>
            <div *ngSwitchCase="'trend-chart'">
              <h1 class="text-2xl font-bold tracking-tight">Trend Chart Dashboard</h1>
              <p class="text-slate-500 text-sm">Track performance metrics and KPIs across all sales channels</p>
            </div>

          </div>

        </div>
      </header>


      <router-outlet></router-outlet>
    </div>
  </div>