<div class="container-fluid">
  <div class="content-body">
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)" style="cursor: auto">Utils</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)" style="cursor: auto; font-weight: 700 !important; color: black">Dealers</a>
        </li>
      </ol>
    </div>
    <div class="row mb-5 align-items-center">
      <div class="col-xl-2 mb-4 mb-xl-0">
        <a style="cursor: pointer; color: white !important" (click)="openModal()" data-target="#exampleModalCenter"
          data-toggle="modal" class="btn btn-primary light btn-lg btn-block rounded shadow px-2 buttons">
          <i class="fa fa-plus mr-1"></i>
          Add Dealer</a>
      </div>
      <div class="col-xl-2 mb-4 mb-xl-0">
        <div class="media-body ml-1">
          <p class="mb-1 fs-14 text-center">Total dealer</p>
          <h3 class="mb-0 text-black font-w600 fs-20 text-center">
            {{ totalDealer() }}
          </h3>
        </div>
      </div>
    </div>

    <!-- Api integration work start here -->

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table id="example5" class="table display mb-4 table-responsive-xl dataTablesCard fs-14">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Dealer Name</th>
                <th>Dealer Code</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @if(dealerList().length === 0){
              <tr>
                <td colspan="6" class="text-center">
                  <p>No Dealer Found</p>
                </td>
              </tr>
              }@else(){

              <tr *ngFor="let dealer of dealerList(); let i = index">
                <td>
                  <a [routerLink]="[
                        '/Admin/singleUser',
                        dealer.dealer_id,
                        dealer.dealer_name
                      ]">
                    {{ i + 1 }}
                  </a>
                </td>
                <td>
                  <a [routerLink]="['/Admin/singleUser', dealer.dealer_id]">
                    {{ dealer.dealer_name }}
                  </a>
                </td>
                <td>
                  <a [routerLink]="['/Admin/singleUser', dealer.dealer_code]">
                    {{ dealer.dealer_code }}
                  </a>
                </td>


                <!-- <td>
                  <a [routerLink]="['/Admin/singleUser', dealer.dealer_email]">
                    {{ dealer.dealer_email }}
                  </a>
                </td> -->
                <td class="d-flex">
                  <!-- <a href="javascript:void(0);" data-target="#exampleModalCenter" data-toggle="modal"
                    (click)="openModal(dealer)" class="btn btn-primary shadow btn-xs sharp mr-1"><i
                      class="fa fa-pencil"></i></a> -->
                  <a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp mr-1"
                    (click)="onEdit(dealer.dealer_id)">
                    <i class="fa fa-pencil text-white"></i>
                  </a>

                  <a href="javascript:void(0);" type="button" class="btn btn-primary mb-2 mr-1"
                    style="margin-right: 0.2rem" data-toggle="modal" data-target=".bd-example-modal-sm"
                    class="btn btn-danger shadow btn-xs sharp" (click)="selectDealerForDeletion(dealer)"><i
                      class="fa fa-trash"></i></a>

                  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header text-center" style="margin-inline: auto">
                          <h5 class="modal-title text-center">Delete Dealer</h5>
                        </div>
                        <div class="modal-body">HEY ARE YOU OKAY..!</div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            Cancel
                          </button>
                          <button type="button" class="btn btn-outline-primary" (click)="deleteDealerId()"
                            data-dismiss="modal">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a href="javascript:void(0);" class="btn btn-success shadow btn-xs sharp"
                    [routerLink]="['/Admin/singleUser', dealer.dealer_id]">
                    <span class="" style="margin-left: 0 !important">
                      <i class="fa fa-eye"></i>
                    </span>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" style="margin-block: 2em">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="align-items: center; margin-inline: auto">
            {{ dealerObj.dealer_id ? "Edit Dealer" : "Add New Dealer" }}
          </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>


        <div [formGroup]="useForm" class="form-group" style="margin-inline: 1em">
          <label for="dealer_name" class="form-label">Dealer Name*</label>
          <!-- <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Dealer Name"
            formControlName="dealer_name"
            [(ngModel)]="dealerObj.dealer_name"
            [ngClass]="{
              'is-invalid':
                useForm.get('dealer_name')?.touched &&
                useForm.get('dealer_name')?.invalid
            }"
          /> -->

          <input class="form-control form-control-lg" type="text" placeholder="Dealer Name"
            formControlName="dealer_name" formControlName="dealer_name" [(ngModel)]="dealerObj.dealer_name" [ngClass]="{
              'is-invalid':
                useForm.get('dealer_name')?.touched &&
                useForm.get('dealer_name')?.invalid
            }" />
          <div class="text-danger" *ngIf="
              useForm.get('dealer_name')?.touched &&
              useForm.get('dealer_name')?.invalid
            ">
            <span>Dealer Name is required.</span>
          </div>
        </div>

        <div [formGroup]="useForm" class="form-group" style="margin-inline: 1em">
          <label for="dealer_code" class="form-label">Dealer Code*</label>
          <!-- <input

            class="form-control form-control-lg"
            type="text"
            placeholder="Dealer Code"
            formControlName="dealer_code"
            [(ngModel)]="dealerObj.dealer_code"
            [ngClass]="{
              'custom-disabled': !!dealerObj.dealer_id,
              'is-invalid':
                useForm.get('dealer_code')?.touched &&
                useForm.get('dealer_code')?.invalid
            }"
          /> -->
          <!-- <input
            class="form-control form-control-lg custom-disabled"
            type="text"
            placeholder="Dealer Code"
            formControlName="dealer_code"
            [(ngModel)]="dealerObj.dealer_code"
            [ngClass]="{
              'custom-disabled': !!dealerObj.dealer_id,
              'is-invalid':
                useForm.get('dealer_code')?.touched &&
                useForm.get('dealer_code')?.invalid
            }"
            [readOnly]="!!dealerObj.dealer_id"
          /> -->
          <input class="form-control form-control-lg " type="text" placeholder="Dealer Code"
            formControlName="dealer_code" [(ngModel)]="dealerObj.dealer_code" [ngClass]="{
              'is-invalid':
                useForm.get('dealer_code')?.touched &&
                useForm.get('dealer_code')?.invalid
            }" />

          <div class="text-danger" *ngIf="
              useForm.get('dealer_code')?.touched &&
              useForm.get('dealer_code')?.invalid
            ">
            <span>Dealer Code is required.</span>
          </div>
        </div>

        <!-- model footer buttons  -->
        <div class="modal-footer">
          <ng-container *ngIf="dealerObj.dealer_id; else saveButton">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="onUpdate()"
              [disabled]="!isDealerNameChanged()">
              Edit
            </button>
          </ng-container>
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">
            Close
          </button>
          <ng-template #saveButton>
            <button type="button" class="btn btn-outline-primary" (click)="onSave()"
              [attr.data-dismiss]="useForm.valid ? 'modal' : null">
              save
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>