<div class="container-fluid">
  <!-- <div class="content-body"> -->
  <div class="content-body" style="margin-left:300px;">
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)" style="cursor: auto">Utils</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)" style="cursor: auto; font-weight: 700 !important; color: black">Team-All</a>
        </li>
      </ol>
    </div>
    <div class="row mb-5 align-items-center">
      <div class="col-xl-2 mb-4 mb-xl-0">
        <a style="cursor: pointer; color: white !important" (click)="openModal()" type="button" data-toggle="modal"
          data-target=".bd-example-modal-lg"
          class="btn btn-primary light btn-lg btn-block rounded shadow px-2 buttons"><i class="fa fa-plus mr-1"></i>Add
          Team</a>
      </div>
      <div class="col-xl-2 mb-4 mb-xl-0">
        <div class="media-body ml-1">
          <p class="mb-1 fs-14 text-center">Total Team</p>
          <h3 class="mb-0 text-black font-w600 fs-20 text-center">
            {{ totalUser() }}
          </h3>
        </div>
      </div>
      <!-- <div class="col-xl-10">
      <div class="card m-0">
        <div class="card-body py-3 py-md-2">
          <div class="row align-items-center">
            <div class="col-md-5 mb-3 mb-md-0">
              <div class="media align-items-end">
                <span class="mr-2 mb-1">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0)"></g>
                    <defs>
                      <clipPath id="clip0">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <div class="media-body ml-1">
                  <p class="mb-1 fs-14">Total Users</p>
                  <h3 class="mb-0 text-black font-w600 fs-20">
                    {{ totalUser() }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    </div>



    <!-- API integration work starts here -->

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table id="example5" class="table display mb-4 table-responsive-xl dataTablesCard fs-14">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Team Name</th>
                <th>Team Lead(email)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @if(teamList().length === 0){
              <tr>
                <td colspan="6" class="text-center">
                  <p>No Users Found</p>
                </td>
              </tr>
              }@else(){
              <tr *ngFor="let team of teamList(); let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{team.team_name }}</td>
                <td>{{ team.team_lead_email }}</td>

                <td class="d-flex">
                  <a href="javascript:void(0);" data-target=".bd-example-modal-lg" data-toggle="modal"
                    class="btn btn-primary shadow btn-xs sharp mr-1" (click)="onEdit(team)"><i
                      class="fa fa-pencil"></i></a>
                  <a href="javascript:void(0);" type="button" class="btn btn-primary mb-2" data-toggle="modal"
                    data-target=".bd-example-modal-sm" class="btn btn-danger shadow btn-xs sharp"
                    (click)="selectteamForDeletion(team)"><i class="fa fa-trash"></i></a>
                  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header text-center" style="margin-inline: auto">
                          <h5 class="modal-title text-center">Delete User</h5>
                        </div>
                        <div class="modal-body">HEY ARE YOU OKAY..!</div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">
                            Cancel
                          </button>
                          <button type="button" class="btn btn-outline-danger" (click)="deleteTeamid()"
                            data-dismiss="modal">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" style="margin-block: 2em"> -->
<div class="modal fade bd-example-modal-lg custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center; width: 100%">
          {{ userObj.team_name || userObj.team_lead_email ? "Edit User" : "Add New User" }}
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span class="x">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="useForm">
          <div class="row">
            <!-- Name -->
            <div class="col-md-6 form-group">
              <label for="team_name" class="form-label">Team Name</label>
              <input id="team_name" class="form-control form-control-lg" type="text" formControlName="team_name"
                placeholder="Team Name" [ngClass]="{
                  'is-invalid':
                    useForm.get('team_name')?.touched &&
                    useForm.get('team_name')?.invalid
                }" required />
              <div class="text-danger" *ngIf="
                  useForm.get('team_name')?.invalid && useForm.get('team_name')?.touched
                ">
                <span *ngIf="useForm.get('team_name')?.errors?.['required']">Team Name is required.</span>
              </div>
            </div>

            <!-- LAST NAME -->
            <div class="col-md-6 form-group">
              <label for="team_lead_email" class="form-label">Team Lead</label>
              <select id="team_lead_email" class="form-control form-control-lg" formControlName="team_lead_email"
                (change)="onTeamChange()" [ngClass]="{
                  'is-invalid':
                    useForm.get('team_lead_email')?.touched &&
                    useForm.get('team__lead_email')?.invalid
                }">
                <option value="" disabled selected>Select team email</option>


                <option *ngFor="let user of userList()" [value]="user.email">
                  {{ user.email }}
                </option>
              </select>
              <div class="text-danger" *ngIf="
                  useForm.get('team_lead_email')?.touched &&
                  useForm.get('team_lead_email')?.invalid
                ">
                <span>Team is required.</span>
              </div>
            </div>
            <!-- 
             <div class="row">
            <div class="col-md-6 form-group">
              <label for="team_lead" class="form-label">Team lead</label>
              <select
                id="team_name"
                class="form-control form-control-lg"
                formControlName="team_id"
                (change)="onTeamChange()"
                [ngClass]="{
                  'is-invalid':
                    useForm.get('team_id')?.touched &&
                    useForm.get('team_id')?.invalid
                }"
              >
                <option value="" disabled selected>Select team email</option>


                <option *ngFor="let team of teamList()" [value]="team.team_id">
                  {{ team.team_lead_email }}
                </option>
              </select>
              <div
                class="text-danger"
                *ngIf="
                  useForm.get('team_id')?.touched &&
                  useForm.get('team_id')?.invalid
                "
              >
                <span>Team is required.</span>
              </div>
            </div>
          </div> -->

            <!-- ROLE -->

            <!-- <div class="modal-footer">
        <ng-container *ngIf="isEditMode; else saveButton">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="onUpdate()"
            [disabled]="useForm.invalid"
          >
            Update
          </button>
        </ng-container>
        <ng-template #saveButton>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="onSave()"
          >
            Save
          </button>
        </ng-template>
        <button
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div> -->
            <!-- <div class="modal-footer">
              <ng-container *ngIf="teamObj.team_id !== null && teamObj.team_id !== undefined; else saveButton">
                <button type="button" class="btn btn-outline-primary" (click)="onUpdate()"
                  [disabled]="!isTeamNameChanged()">
                  Edit
                </button>
              </ng-container>

              <button type="button" class="btn btn-outline-danger" (click)="closeModal()" data-dismiss="modal">
                Close
              </button>

              <ng-template #saveButton>
                <button type="button" class="btn btn-outline-primary" (click)="onSave()"
                  [attr.data-dismiss]="useForm.valid ? 'modal' : null">
                  Save
                </button>
              </ng-template>
            </div> -->
            <div class="modal-footer">
              <ng-container *ngIf="teamObj?.team_id; else saveButton">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="onUpdate()"
                  [disabled]="!isTeamNameChanged()">
                  Edit
                </button>
              </ng-container>
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">
                Close
              </button>
              <ng-template #saveButton>
                <button type="button" class="btn btn-outline-primary" (click)="onSave()"
                  [attr.data-dismiss]="useForm.valid ? 'modal' : null">
                  Save
                </button>
              </ng-template>
            </div>