<div class="deznav">
  <div>
    <ul class="metismenu" id="menu" [ngClass]="{ 'collapsed': !isSidebarOpen }" style="margin-top:20px;">

      <!-- Dashboard -->
      <li>
        <a routerLink="/Admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="ai-icon icon-responsive" (click)="onRoleChange('dashboard', 'Dashboard')">
          <i class="fa fa-tachometer-alt" id="dash"></i>
          <span class="nav-text" style="font-size:18px;">Dashboard</span>
        </a>
      </li>


      <!-- Masters Menu -->
      <li routerLinkActive="menu-open" [routerLinkActiveOptions]="{ exact: false }">
        <a style="cursor: pointer;" class="has-arrow ai-icon icon-responsive">

          <i class="flaticon-381-television"></i>
          <span class="nav-text" style="font-size:18px;margin-left:-10px;">
            Masters
          </span>
        </a>

        <ul>
          <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/user-all" (click)="onRoleChange('user-all', 'User Management')">
              User Management
            </a>
          </li> -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/role" (click)="onRoleChange('role', 'Role Management')">
              Role Management
            </a>
          </li>
          <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/team" (click)="onRoleChange('team-all', 'Team Management')">
              Team Management
            </a>
          </li> -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/vehicle" (click)="onRoleChange('vehicle', 'Vehicle Management')">
              Vehicle Management
            </a>
          </li>
          <li>
            <a routerLink="/Admin/dealer" class="ai-icon" aria-expanded="false"
              (click)="onRoleChange('dealer', 'Dealers Management')">
              Dealers Management
            </a>
          </li>

          <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/target" (click)="onTargetChange('target', 'Target Management')">
              Set Targets
            </a>
          </li> -->
        </ul>
      </li>
    </ul>

    <div class="copyright" style="margin-top:280px;">
      <!-- <p>Tixia Ticketing Admin Dashboard© 2020 All Rights Reserved</p> -->
      <!-- <p class="op5">Made with <i class="fa fa-heart"></i> by DexignZone</p> -->
    </div>
  </div>
</div>