<!-- <div class="deznav">
  <div>
    <ul class="metismenu" id="menu" [ngClass]="{ 'collapsed': !isSidebarOpen }" style="margin-top:20px;">

      <li>
        <a routerLink="/Admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="ai-icon icon-responsive" (click)="onRoleChange('dashboard', 'Dashboard')">
          <i class="fa fa-tachometer-alt" id="dash"></i>
          <span class="nav-text" style="font-size:18px;">Dashboard</span>
        </a>
      </li>


      <li routerLinkActive="menu-open" [routerLinkActiveOptions]="{ exact: false }">
        <a style="cursor: pointer;" class="has-arrow ai-icon icon-responsive">

          <i class="flaticon-381-television"></i>
          <span class="nav-text" style="font-size:18px;margin-left:-10px;">
            Masters
          </span>
        </a>

        <ul>
          
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/role" (click)="onRoleChange('role', 'Role Management')">
              Role Management
            </a>
          </li>
        
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/Admin/vehicle" (click)="onRoleChange('vehicle', 'Vehicle Management')">
              Vehicle Management
            </a>
          </li>
          <li>
            <a routerLink="/Admin/dealer" class="ai-icon" aria-expanded="false"
              (click)="onRoleChange('dealer', 'Dealers Management')">
              Dealers Management
            </a>
          </li>

        
        </ul>
      </li>
    </ul>

    <div class="copyright" style="margin-top:280px;">
      
    </div>
  </div>
</div> -->


<div class="deznav" [ngClass]="{ 'collapsed-sidebar': !isSidebarOpen }" style="background-color: #222fb9;">
  <div>
    <ul class="metismenu" id="menu" [ngClass]="{ 'collapsed': !isSidebarOpen }">
      <li *ngFor="let item of menuItems" [class.active]="isActive(item.key)" style="margin-bottom:10px;">
        <a [routerLink]="item.route">
          <i [ngClass]="item.icon"></i>
          <span style="font-size: 11px;white-space: nowrap;" class="nav-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>

    <div class="copyright" style="margin-top:280px;">
    </div>
  </div>
</div>