<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <div class="profile-head">
            <div class="photo-content">
              <div class="cover-photo"></div>
            </div>
            <div class="profile-info">
              <div *ngFor="let profile of profileList(); let i = index" class="profile-details">
                <div class="profile-photo">
                  <img src="/assets/public/images/profile/profile.png" class="img-fluid rounded-circle" alt="Profile Photo">
                </div>
                <div class="profile-name px-3 pt-2">
                  <h4 class="text-primary mb-0">{{ profile.name }}</h4>
                  <p>{{ profile.role }}</p>
                  <h4 class="text-muted mb-0">Email</h4>
                  <p>{{ profile.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  