<div class="container-fluid">
  <div class="content-section active">
    <!-- Breadcrumb -->
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)" style="cursor: auto;color: #222fb9;">Users</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)"
            style="cursor: auto; font-weight: 400 !important; color: #6e7d8b;font-size:1rem;font-family: 'poppins', sans-serif;">Role
            Master</a>
        </li>
      </ol>
    </div>

    <!-- Add Button + Stats -->
    <div class="row mb-5 align-items-center">
      <div class="col-xl-2 col-lg-3 col-md-4 mb-4 mb-md-0">
      <a style="cursor: pointer; color:  white !important;background-color: #222fb9;" (click)="openModal()"
        class="btn light btn-lg btn-block rounded shadow px-2 buttons">
        <i class="fa fa-plus mr-1"></i>Add Roles
      </a>
      </div>
      <div class="col-xl-2 mb-4 mb-xl-0" style="margin-left: -2%;">
        <div class="media-body text-center">
          <p class="mb-1 fs-14">Total Roles</p>
          <h3 class="mb-0 text-black font-w600 fs-20">
            {{filteredRoles.length }}
          </h3>
        </div>
      </div>
    </div>

    <!-- Roles Table Section -->
    <div class="card-box p-4 mb-5"
      style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, 0.08); border-radius: 10px;">

      <div class="row mb-4 align-items-center">
        <div class="col-12">
          <!-- Items per page selector and Search -->
          <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-end align-items-center">
            </div>

          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table display mb-4 dataTablesCard fs-14 w-100">
          <thead>
            <tr>
              <th style="text-align: left;">Sr No</th>
              <th style="text-align: left;">Role Name</th>
              <th style="text-align: left;">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="paginatedRoles.length === 0">
              <td colspan="4" class="text-center">No Roles Found</td>
            </tr>
            <tr *ngFor="let role of paginatedRoles; let i = index">
              <td style="text-align: left;">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td style="text-align: left;">{{ role.role_name }}</td>
              <td style="text-align: left;">{{ role.description }}</td>
              <td>
                <div class="d-flex">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="modal d-block" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" style="top:18%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="text-align: center; width: 100%;font-size:18px;">
            {{ roleObj.role_name || roleObj.description ? "Edit User" : "Add New Role" }}
          </h5>
          <button type="button" class="close" (click)="closeModal()">
            <span class="x">&times;</span>
          </button>

        </div>

        <div class="modal-body">
          <form [formGroup]="useForm">
            <div class="row">
              <!-- Name -->
              <div class="col-md-6 form-group">
                <label for="role_name" class="form-label">
                  Role Name <span class="text-danger">*</span>
                </label>

                <select id="role_name" class="form-control form-control-lg" formControlName="role_name" [ngClass]="{
                                  'is-invalid':
                                    useForm.get('role_name')?.touched &&
                                    useForm.get('role_name')?.invalid
                                }" required>
                  <option [ngValue]="null" disabled hidden>Select Role</option>
                  <option *ngFor="let role of staticDealerList" [value]="role.dealer_code">
                    {{ role.dealer_code }}
                  </option>
                </select>

                <div class="text-danger" *ngIf="
                                  useForm.get('role_name')?.invalid &&
                                  useForm.get('role_name')?.touched
                                ">
                  <span *ngIf="useForm.get('role_name')?.errors?.['required']">
                    Role Name is required.
                  </span>
                </div>
              </div> 

              <div class="col-md-6 form-group">
                <label for="role_name" class="form-label">
                  Description
                </label>
                <input id="description" class="form-control form-control-lg" type="text" formControlName="description"
                  placeholder="Description" />
              </div>

            </div>

            <div class="modal-footer">
              <ng-container *ngIf="roleObj.role_id; else saveButton">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                  [disabled]="!isRoleNameChanged()">
                  Edit
                </button>
              </ng-container>
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">
                Close
              </button>
              <ng-template #saveButton>
                <button type="button" class="btn btn-outline-primary" (click)="onSave()">
                  Save
                </button>
              </ng-template>
            </div>