<div class="container-fluid">
  <div class="content-body">
    <div class="page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)" style="cursor: auto">Users</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)" style="cursor: auto; font-weight: 700 !important; color: black">Role Master</a>
        </li>
      </ol>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-xl-2 mb-4 mb-xl-0 mt-10">
        <!-- <a style="cursor: pointer; color: white !important" type="button" data-toggle="modal"
          data-target=".bd-example-modal-lg" class="btn btn-primary light btn-lg btn-block rounded shadow px-2 buttons">
          <i class="fa fa-plus mr-1"></i>Add Role
        </a> -->
        <a style="cursor: pointer; color: white !important" type="button" (click)="openModals()"
          class="btn btn-primary light btn-lg btn-block rounded shadow px-2 buttons">
          <i class="fa fa-plus mr-1"></i>Add Role
        </a>

      </div>
      <div class="col-xl-2 mb-4 mb-xl-0">
        <div class="media-body ml-1">
          <p class="mb-1 fs-14 text-center">Total Roles</p>
          <h3 class="mb-0 text-black font-w600 fs-20 text-center">{{count()}}</h3>
        </div>
      </div>
    </div>

    <!-- Role Table -->
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table id="example5" class="table mb-4 dataTablesCard fs-14">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>Role Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <!-- Show this row if roleList is empty -->
              <tr *ngIf="roleList().length === 0">
                <td colspan="3" class="text-center text-muted">No roles found</td>
              </tr>

              <!-- Show role rows if there are roles -->
              <tr *ngFor="let role of roleList(); let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ role.role_name }}</td>
                <td>{{ role.description }}</td>
              </tr>
            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Role Modal -->
<div class="modal fade bd-example-modal-lg custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="align-items: center; margin-inline: auto">
          Add New Role
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span class="x">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="useForm">
          <div class="row">

            <!-- Role Name with Dropdown -->
            <div class="col-md-6 form-group">
              <label for="role_name" class="form-label">Role Name*</label>
              <select id="role_name" class="form-control form-control-lg" formControlName="role_name" [ngClass]="{
                'is-invalid': useForm.get('role_name')?.touched && useForm.get('role_name')?.invalid
              }">
                <option value="" disabled selected>Select Role</option>
                <!-- Static Fallback List (if required) -->
                <option *ngFor="let dealer of staticDealerList" [value]="dealer.dealer_code">
                  {{ dealer.dealer_code }}
                </option>
              </select>
              <div class="text-danger" *ngIf="useForm.get('role_name')?.touched && useForm.get('role_name')?.invalid">
                <span>Role Name is required.</span>
              </div>
            </div>

            <!-- Role Description Input -->
            <div class="col-md-6 form-group">
              <label for="description" class="form-label">Role Description*</label>
              <input style="cursor: text" class="form-control form-control-lg" type="text"
                placeholder="Role Description" formControlName="description" />
            </div>

          </div>
        </form>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="onSave()" (click)="closeModal()">
          Save
        </button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>